[submodule "modules/jasnah"]
	path = modules/jasnah
	url = https://github.com/arioston/jasnah.git
[submodule "modules/sazed"]
	path = modules/sazed
	url = https://github.com/arioston/sazed.git
[submodule "modules/hoid"]
	path = modules/hoid
	url = https://github.com/arioston/hoid.git
